#mainScene {
  margin: 0 auto;
  padding: 0;
  top: 0;
  bottom: 0;
  width: 60%;
  height: 100%;
  text-align: center;
}

#mainScene #productList {
  position: relative;
  z-index: 0 !important;
}
#mainScene #searchBar {
}