html{
  height: 100%;
}

body {
  height: 100%;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dddae5+0,ebe8f2+0,beb7cc+100 */
  background: #dddae5; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #dddae5 0%, #c6c1d1 100%) fixed; /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #dddae5 0%,#c6c1d1 100%) fixed; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #dddae5 0%, #c6c1d1 100%) fixed; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddae5', endColorstr='#c6c1d1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}