body {
  background-color: #E0E0E0;
}

#header {
  margin-left: 10px;
  /*font-size: 230%;*/
  font-weight: 900;
}

#subHeader {
  margin-left: 5px;
  margin-top: 10px;
  font-size: 64%;
  font-weight: 400;
}