body {
  background-color: #E0E0E0;
}

#header {
  margin-left: 10px;
  /*font-size: 230%;*/
  font-weight: 900;
}

#subHeader {
  margin-left: 5px;
  margin-top: 10px;
  font-size: 64%;
  font-weight: 400;
}

::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(127,140,141 ,1);
}

::-webkit-scrollbar-thumb:hover
{
  background: rgba(41,128,185 ,1);
}